.item-list-container {
    padding: 20px;
    border: 1px solid #5b5b5b;
    border-radius: 15px;
    margin-top: 10px;

}

.item-list-container h2 {
    font-size: 24px;
    text-align: center;
}

.item {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.data {
    text-align: center;
    border: 1px solid #5b5b5b;
    width: calc(33% - 10px);
    height: 250px; 
    padding-top: 10px;
    margin-bottom: 10px; 
}

.data img{
    width: 180px;
    height: 150px;
    padding-bottom: 5px;
    margin-top: 10px;
}

.data h2{
    padding-bottom: 10px;
}